:root {
    --color1: #AEC684;
    --color2: #83BA99;
    --color3: #59AFAF;
    --color4: #74A9B7;
    --color5: #A6A5B9;
    --color6: #B09BB6;
    --color7: #938CB0;
    --color8: #7E7DA8;
    --color9: #826C9F;
    --color10: #865B96;
    --color11: #fbedff;
    --color12: #14041a;
    --color13: #83BA99;
}
