:root {
    --color1: #AED6F1;
    --color2: #85C1E9;
    --color3: #5DADE2;
    --color4: #3498DB;
    --color5: #2E86C1;
    --color6: #A9CCE3;
    --color7: #7FB3D3;
    --color8: #5499C7;
    --color9: #1A5276;
    --color10: #154360;
    --color11: #EBF5FB;
    --color12: #0B2434;
    --color13: #85C1E9;
}
